* {
    padding: 0;
    margin: 0;
}

.bgBlack {
    background-color: black;
}

.textWhite {
    color: white;
}

.flex {
    display: flex;
}

.alignCenter {
    align-items: center;
}


.justifyCenter {
    justify-content: space-between;
}

.maxWidth {
    max-width: 1300px;
}

.mAuto {
    margin: 0 auto;
}

.borderRed {
    border: 1px solid red;
}

.p2 {
    padding: 2rem;
}

.pl2 {
    padding-left: 2rem;
}

.textDecorationNone {
    text-decoration: none;
}

.fsize2 {
    font-size: 1.5rem;
}

.menuIcon {
    display: none;
}

.menuName {
    display: none;
}

@media (max-width: 1024px) {
    .mainMenu {
        display: none;
    }
    .menuIcon {
        display: block;
    }
}

@media (max-width: 640px) {
    .displayBlockMobile {
        display: block;
    }
    .mb1Mobile {
        margin-bottom: 1rem;
    }
    .textAlignCenterMobile {
        text-align: center;
    }
    .menuIcon {
        display: none;
    }
    .menuName {
        display: block;
    }
}